section {
    background-color: #f9f9f9;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}